:root {
    --primary: #0000ff;
    --primary-dark: #00008b;
    --primary-light: #add8e6;
}

a {
    color: blue !important;
}

a .active{
     font-weight: bold !important;
}

#table-wrapper {
    overflow: auto;
}

.scientific {
    font-weight: normal;
    font-style: italic;
}

.description {
    font-size: 80%;
    color: #aaa;
}

.spacer-3 {
    margin-bottom: 3em;
}

.regulator-group ul {
    list-style-type: none;
}

.citation {
    margin-left: 3em;
}

.citation .journal {
    font-style: italic;
}

.bd-example,
.highlight {
    margin-right: 0;
    margin-left: 0;
}

.bd-example {
    border-width: 0.2rem;
    margin-bottom: 0;
}

.bd-example .custom-file-input:lang(es) ~ .custom-file-label::after {
    content: "attachment";
}

.bd-example > .dropdown-menu:first-child {
    position: relative;
    top: auto;
    left: auto;
}

.bd-example > .list-group {
    max-width: 100%;
}

.bd-example-modal .modal-dialog {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.section-nav {
    border-left: 0.3125rem solid #598dff;
    position: sticky;
    top: 1rem;
}

.toc-entry a {
    color: rgba(0, 0, 0, 0.87);
    opacity: 0.7;
    padding: 0.25rem 0 0.25rem 40px;
}

.toc-entry a:active, .toc-entry a:focus, .toc-entry a:hover {
    color: rgba(0, 0, 0, 0.87);
    opacity: 1;
}

.toc-entry a.active {
    color: #598dff;
    opacity: 1;
}

[id='accordion'] .card {
    border-radius: 0;
}

[id='accordion'] .card:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

[id='accordion'] .card:last-child {
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}

[id='accordion'] .card-body {
    padding-top: 0;
}

[id='accordion'] .card-header {
    padding-top: 1rem;
}

.bd-example .card.text-right .card-body .btn {
    margin-right: -0.5rem;
}

.bd-example .card:not(.text-center):not(.text-right) .card-body .btn {
    margin-left: -0.5rem;
}

.bd-example .card .card-body:last-child .btn:last-child {
    margin-bottom: -1rem;
}

.bd-example .card .card-body:not(:last-child) .btn:last-child {
    margin-bottom: -0.5rem;
}

.bd-example .card .card-body .btn {
    background-color: transparent;
    box-shadow: none;
    min-width: 4rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

.bd-example .card .card-body .btn.active, .bd-example .card .card-body .btn:active {
    background-color: rgba(153, 153, 153, 0.4);
    box-shadow: none;
}

.bd-example .card .card-body .btn.disabled, .bd-example .card .card-body .btn:disabled {
    background-color: transparent;
}

.bd-example .navbar .form-control {
    max-width: 10rem;
}

@media (max-width: 767.98px) {
    .doc-jumbotron h1 {
        font-size: 3.5rem;
        font-weight: 400;
        letter-spacing: -0.02em;
        line-height: 1.035715;
    }
}

@media (min-width: 992px) {
    .navdrawer-permanent ~ .doc-jumbotron {
        margin-left: 17.5rem;
    }
}

.doc-jumbotron h1:last-child,
.doc-jumbotron p:last-child {
    margin-bottom: 0;
}

@media (min-width: 992px) {
    .navdrawer-permanent ~ .doc-main {
        margin-left: 17.5rem;
    }
}

.doc-navbar-logo {
    font-weight: 300;
    justify-content: center;
    min-width: 1.25rem;
}

.doc-navbar-logo::before {
    border: 1px solid currentColor;
    border-radius: 2px;
    opacity: 1;
}

.doc-navdrawer-body {
    min-height: 100%;
}

.doc-swatch-text {
    font-family: "Roboto Mono", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.doc-toolbar {
    position: fixed;
}

@media (min-width: 992px) {
    .navdrawer-permanent ~ .doc-toolbar {
        margin-left: 17.5rem;
    }
}

.doc-body {
    background-color: #F5F5F5;
}

.doc-main {
    font-size: large;
}

.nav-link {
    font-size: large;
}

[data-toggle="collapse"].collapsed .if-not-collapsed {
    display: none;
}

[data-toggle="collapse"]:not(.collapsed) .if-collapsed {
    display: none;
}

.bg-theme {
    background-color: rgb(165, 188, 183);
}
