{% extends 'layout.html' %}
{% set active_page = 'acknowledgements' -%}
{% block body %}
    <div class="jumbotron">
        <div class="panel-group">
            <h4 class="typography-display-1">Acknowledgements</h4>
            <div class="col-lg-8 justify-content-center">
                We would like to acknowledgement Anne Ammerstorfer for the
                Carina's logo design. Tobias Jakobi and Mike Rightmire
                contributed
                us with the webservice deployment and infrastructure supported.
                Carina is based
                <p> If you are using Carina, please cite: </p>
                Britto-Borges, Thiag and Dieterich Christoph
                <a class="text-info"
                   href="">
                    "Carina: tissue-specific post-transcriptional
                    regulation." </a>
                <p> Carina is based on doRiNA: </p>
                <p>
                    Blin, Kai, et al.
                    <a class="text-info"
                       href="http://www.ncbi.nlm.nih.gov/pubmed/25416797">
                        "DoRiNA 2.0—upgrading the doRiNA database of RNA
                        interactions in post-transcriptional regulation." </a>
                    <a class="font-italic">Nucleic acids research </a>
                    43.D1 (2014): D160-D167.
                    <br/>
                    Anders, Gerd, et al.
                    <a class="text-info"
                       href="http://www.ncbi.nlm.nih.gov/pubmed/22086949">
                        "doRiNA: a database of RNA interactions in
                        post-transcriptional regulation." </a>
                    <a class="font-italic">Nucleic acids research </a> 40.D1
                    (2011):
                    D180-D186.
                </p>
            </div>
        </div>
    </div>
{% endblock %}
