{% extends 'layout.html' %}
{% set active_page = 'documentation' -%}

{% block body %}
    <div class="jumbotron">
        <div class="panel-group">
            <h4 class="typography-display-1">API documentation</h4>
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active"
                       id="python-api-tab"
                       data-toggle="pill"
                       href="#python-api"
                       role="tab"
                       aria-controls="python-api"
                       aria-expanded="true">Python API</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       id="rest-api-tab"
                       data-toggle="pill"
                       href="#rest-api"
                       role="tab"
                       aria-controls="rest-api"
                       aria-expanded="true">Rest API</a>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active"
                     id="python-api"
                     role="tabpanel"
                     aria-labelledby="python-api-tab">
                    {% include 'python_example.html' %}
                </div>
                <div class="tab-pane fade"
                     id="rest-api"
                     role="tabpanel"
                     aria-labelledby="rest-tab">
                    {% include 'rest_example.html' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

