{% extends 'layout.html' %}
{% block body %}

  <h1>GET api/v1.0/regulators/:assembly</h1>
  <p class="lead">List available regulators for an assembly</p>
  <h2>Parameters</h2>
  <h3>Required</h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Description</th>
        <th>Default</th>
        <th>Example Values</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>assembly</td>
        <td>string</td>
        <td>name of an assembly</td>
        <td>-</td>
        <td>hg19</td>
      </tr>
    </tbody>
  </table>

  <h3>Examle Request</h3>
  <code class="language-bash">curl http://dorina.mdc-berlin.de/api/v1.0/regulators/hg19</code>
  <pre><code class="language-javascript">{
  "CLIPSEQ_AGO2_hg19": {
    "description": "This track contains 53,342 AGO-2 CLIP sites in HEK 293 cells.",
    "experiment": "CLIPSEQ",
    "id": "CLIPSEQ_AGO2_hg19",
    "methods": "CLIP library preparation was carried out according to the original protocol. Additional details on data processing can be obtained from the original publication - section 'From reads to binding sites.' We have merged clusters from replicate experiments.",
    "references": [
      {
        "authors": [
          "Kishore S",
          "Jaskiewicz L",
          "Burger L",
          "Hausser J",
          "Khorshid M",
          "Zavolan M"
        ],
        "journal": "Nature Methods",
        "pages": "559-64",
        "pubmed": "21572407",
        "title": "A quantitative analysis of CLIP methods for identifying binding sites of RNA-binding proteins",
        "year": "2011"
      }
    ],
    "summary": "AGO2 CLIP-SEQ (Kishore 2011)"
  },
  /* ... */
}</code></pre>

{% endblock %}
