{% extends 'layout.html' %}
{% block body %}

  <h1>GET api/v1.0/status/:uuid</h1>
  <p class="lead">Get the status for job :uuid</p>
  <h2>Parameters</h2>
  <h3>Required</h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Description</th>
        <th>Default</th>
        <th>Example Values</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>uuid</td>
        <td>string</td>
        <td>UUID of the job</td>
        <td>-</td>
        <td>f2b4e02-1c94-443b-9326-901dc8ebd351</td>
      </tr>
    </tbody>
  </table>

  <h3>Examle Request</h3>
  <code class="language-bash">curl http://dorina.mdc-berlin.de/api/v1.0/status/f2b4e02-1c94-443b-9326-901dc8ebd351</code>
  <pre><code class="language-javascript">{
  "state": "pending",
  "uuid": "f2b4e02-1c94-443b-9326-901dc8ebd351"
}</code></pre>
{% endblock %}
