<div id="accordion">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                <h4 class="panel-title collapsed"
                    data-toggle="collapse"
                    data-target="#collapseOne"
                    aria-expanded="false"
                    aria-controls="collapseOne">
                    <span data-bind="text: chosenAssembly() ? chosenAssembly() + ' assembly selected' : 'Choose an assembly '"></span>
                </h4>
            </h5>
        </div>
        <div id="collapseOne" class="collapse show"
             aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                <form class="form" role="form"
                      data-bind="submit: show_simple_search">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm">
                                <small class="text-muted ">
                                    (Optional) upload a .bed file
                                </small>
                            </div>
                            <div class="col-sm">
                                <input type="file" class="input btn-lg"
                                       title="upload"
                                       id="bedfile" name="bedfile">
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-sm">
                                <small class="text-muted">
                                    Select an assembly
                                </small>
                            </div>
                            <div class="col-sm">
                                <select class="form-inline"
                                        id="assembly"
                                        data-bind="value: chosenAssembly"
                                        placeholder="Select assembly..."
                                        type="submit">
                                </select>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="form-inline"
                     data-bind="visible: loading_regulators">
                    <div class="progress-circular">
                        <div class="progress-circular-wrapper">
                            <div class="progress-circular-inner">
                                <div class="progress-circular-left">
                                    <div class="progress-circular-spinner"></div>
                                </div>
                                <div class="progress-circular-gap"></div>
                                <div class="progress-circular-right">
                                    <div class="progress-circular-spinner"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

