<div class="card">
    <div class="card-header bg-theme" id="headingOne">
        <h5 class="mb-0">
            <h4 class="panel-title collapsed"
                data-toggle="collapse"
                data-target="#collapseOne"
                aria-expanded="false"
                aria-controls="collapseOne">
                    <span class="text-black"
                          data-bind="text: chosenAssembly() ? chosenAssembly() + ' assembly selected' : 'Choose an assembly '"></span>
            </h4>
        </h5>
    </div>
    <div id="collapseOne" class="collapse show"
         aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
            <div class="row">
                <div class="col-md-5">
                    <form method=post action="#" class="form-group"
                          enctype=multipart/form-data>
                        <label for="bedfile"> (Optional) upload a .bed
                            file </label>
                        <input type="file" name="bedfile" id="bedfile"
                               class="form-control-file"/>
                        <input type="submit" value="submit" disabled/>

                    </form>
                </div>
                <div class="col-md-5">
                    <form class="form" role="form"
                          data-bind="submit: show_simple_search">
                        <label for="assembly"> Select an assembly </label>
                        <select id="assembly"
                                data-bind="value: chosenAssembly"
                                placeholder="Select assembly..."
                                type="submit">
                        </select>
                    </form>
                </div>
                <div class="col-md-1"
                     data-bind="visible: loading_regulators">
                    <div class="progress-circular">
                        <div class="progress-circular-wrapper">
                            <div class="progress-circular-inner">
                                <div class="progress-circular-left">
                                    <div class="progress-circular-spinner"></div>
                                </div>
                                <div class="progress-circular-gap"></div>
                                <div class="progress-circular-right">
                                    <div class="progress-circular-spinner"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


