{% set active_page = "Search" %}
{% extends 'layout.html' %}

{% block extra_headers %}
    <link rel="stylesheet"
          href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
{% endblock %}

{% block body %}
    <div id="accordion">
        <div id = "alert_placeholder"></div>
        {% include "choose_db.html" %}
        {% include "search.html" %}
        {% include "results.html" %}
    </div>
{% endblock %}
{% block extra_scripts %}

    <!-- KnockoutJS Mapping http://knockoutjs.com/documentation/plugins-mapping.html -->
    {#    <script src="//cdnjs.cloudflare.com/ajax/libs/knockout.mapping/2.4.1/knockout.mapping.min.js"></script>#}

    <!-- jQuery DataTables http://datatables.net -->
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        let net = new DoRiNANet();
        let viewmodel = new DoRiNAViewModel(net, '{{uuid}}', {{custom_regulator}});
         $(document).ready(function () {
            $('#bedfile').change(
                function () {
                    if ($(this).val()) {
                        $('input:submit').attr('disabled', false);
                    }
                });

            ko.applyBindings(viewmodel);
            SetViewModel(viewmodel);
            $('#assembly').selectize({
                valueField: 'id',
                labelField: 'id',
                searchField: 'id',
                create: false,
                options: {{ assemblies|safe }},
                sortField: [{field: 'weight', direction: 'desc'}],
                optgroupField: 'genome',
                optgroupValueField: 'id',
                optgroups: {{ genomes|safe }},
                render: {
                    optgroup_header: function (data, escape) {
                        return '<div class="optgroup-header">' + escape(data.label) +
                            ' (<span class="font-italic">' + escape(data.scientific) +
                            '</span>)</div>';
                    }
                },
                onChange: function () {
                    this.$input.closest('form').submit();
                    this.disable();
                    $('#bedfile').attr('disabled', true);
                }

                {#https://github.com/selectize/selectize.js/issues/1162#}
            });

        });
    </script>
{% endblock %}
