<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <title>Carina &middot; {{ active_page | title }} </title>
    {#    <meta name="description" content=""> TODO #}
    <meta content="initial-scale=1, shrink-to-fit=no, width=device-width"
          name="viewport">
    <meta name="author" content="Thiago Britto-Borges">
    <!-- CSS -->
    <!-- Add Material font (Roboto) and Material icon as needed -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <!-- Add Material CSS, replace Bootstrap CSS -->
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/css/selectize.bootstrap3.css">
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/material.min.css') }}">
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/selectize.css') }}">

    {% block extra_headers %}{% endblock %}
</head>
<body>
{% set navigation_bar = [
    ('/', 'index', 'Index'),
    ('/news', 'news', 'News'),
    ('/tutorials', 'tutorials', 'Tutorials'),
    ('/regulators', 'regulators', 'Regulators'),
    ('/docs', 'documentation', 'Documentation'),
    ('/acknowledgements', 'acknowledgements', 'Acknowledgements')] -%}
{# from https://www.codeply.com/go/Rgq96HykJ2 #}
<div class="container-fluid">
    <div class="row">
        <aside class="col-12 col-md-2 p-0" id="asideLayout">
            <nav class="navbar navbar-expand flex-md-column flex-row py-2">
                <div class="collapse navbar-collapse">
                    <ul class="flex-md-column flex-row navbar-nav justify-content-between mr-auto ">
                        <a class="nav-link pl-0 text-nowrap" href="/">
                            <i class="material-icons ">&#xE87C;</i>
                            <span class="font-weight-bold ">Carina</span>
                        </a>

                        {% for href, id, caption in navigation_bar %}
                            <li class="nav-item pl-0">

                                <a {% if id == active_page %}
                                    class="nav-link active"
                                {% else %} class="nav-link" {% endif %}
                                    href="{{ href|e }}"> {{ caption|e }}</a>
                            </li>
                        {% endfor %}
                        <button class="navbar-toggler" type="button"
                                data-toggle="collapse"
                                data-target="#navbarNavDropdown"
                                aria-controls="navbarNavDropdown"
                                aria-expanded="false"
                                aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>


                    </ul>
                </div>
            </nav>
        </aside>
        <main class="col bg-faded py-3">
            <div class="container pt-4 ">
                {# pt-4 adjust padding to the top from 1 to 5 #}
                <div class="row justify-content-center">
                    <div class="col-lg-9 col-xl-6">
                        {% with messages = get_flashed_messages(with_categories=true) %}
                            {% if messages %}
                                {% for category, message in messages %}
                                    <div class="alert alert-{{ category }}
                                alert-dismissible fade show"
                                         role="alert">
                                        <button type="button"
                                                class="close"
                                                data-dismiss="alert"
                                                aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        {{ message }}
                                    </div>
                                {% endfor %}

                            {% endif %}
                        {% endwith %}
                        <div class="bd-content mb-xl">
                            {% block body %}{% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>

<!-- Then Material JavaScript on top of Bootstrap JavaScript -->
<script src="{{ url_for('static', filename='js/material.min.js') }}"></script>
<!-- Optional JavaScript -->
<script src="{{ url_for('static', filename='js/knockout.js') }}"></script>
<script src="{{ url_for('static', filename='js/knockstrap.js') }}"></script>
<script src="{{ url_for('static', filename='js/dorina.js') }}"></script>
<script src="{{ url_for('static', filename='js/dorina.net.js') }}"></script>
<script src="{{ url_for('static', filename='js/selectize.min.js') }}"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
{% block extra_scripts %}{% endblock %}
</body>
</html>