<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <title>Carina &middot; {{ title or '' }} </title>
    {#    <meta name="description" content=""> TODO #}
    <meta content="initial-scale=1, shrink-to-fit=no, width=device-width"
          name="viewport">
    <meta name="author" content="Thiago Britto-Borges">
    <!-- CSS -->
    <!-- Add Material font (Roboto) and Material icon as needed -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <!-- Add Material CSS, replace Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/material.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    {% block extra_headers %}{% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-md">
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarToggler"
            aria-controls="navbarToggler" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href={{ url_for('welcome') }}>Carina</a>
    <div class="collapse navbar-collapse" id="navbarToggler">
        <ul class="navbar-nav mr-auto mt-2">
            <li>
                <a class="nav-link" href={{ url_for('news') }}> News </a>
            </li>
            <li>
                <a class="nav-link" href={{ url_for('index') }}> Search </a>
            </li>

            <li>
                <a class="nav-link" href={{ url_for('tutorials') }}>
                    Tutorials</a>
            </li>
            <li>
                <a class="nav-link" href={{ url_for('regulators') }}>
                    Regulators</a>
            </li>
            <li>
                <a class="nav-link" href={{ url_for('acknowledgements') }}>
                    Acknowledgements</a>
            </li>
        </ul>
    </div>
</nav>
<main class="doc-main px-lg-md">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-9 col-xl-6">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}

                            {% for category, message in messages %}
                                <div class="alert alert-{{ category }}
                                alert-dismissible fade show" role="alert">
                                    <button type="button" class="close"
                                            data-dismiss="alert"
                                            aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    {{ message }}
                                </div>
                            {% endfor %}

                    {% endif %}
                {% endwith %}
                <div class="bd-content mb-xl">
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
</main>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>

<!-- Then Material JavaScript on top of Bootstrap JavaScript -->
<script src="{{ url_for('static', filename='js/material.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<!-- Optional JavaScript -->
<script src="{{ url_for('static', filename='js/knockout.js') }}"></script>
<script src="{{ url_for('static', filename='js/knockstrap.js') }}"></script>
<script src="{{ url_for('static', filename='js/dorina.js') }}"></script>
<script src="{{ url_for('static', filename='js/dorina.net.js') }}"></script>
<script src="{{ url_for('static', filename='js/selectize.js') }}"></script>

{% block extra_scripts %}{% endblock %}
</body>
</html>