{% extends 'layout.html' %}
{% set active_page = 'regulators' -%}
{% block body %}
    <div class="jumbotron">
        <h4 class="typography-display-1">Available regulators</h4>
        <div class="spacer-2">&nbsp;
            <div class="form-row">


                <select class="form col-sm-10"
                        id="assembly"
                        data-bind="value: selected_assembly"
                        placeholder="Select species and assembly">
                </select>


                <div class="form-inline col-sm-1 invisible"
                     id="regulatorProgressBar">
                    <div class="progress-circular">
                        <div class="progress-circular-wrapper">
                            <div class="progress-circular-inner">
                                <div class="progress-circular-left">
                                    <div class="progress-circular-spinner"></div>
                                </div>
                                <div class="progress-circular-gap"></div>
                                <div class="progress-circular-right">
                                    <div class="progress-circular-spinner"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            </form>
        </div>
    </div>


    <div class="regulator-group"
         data-bind="foreach: regulators">
        <div class="jumbotron">
            <div class="regulator-entry">
{#                <span class="glyphicon glyphicon-chevron-right"></span>#}
                <span data-bind="text: summary"></span>
                <ul>
                    <li data-bind="text: description"></li>
                    <li>
                        <a data-bind="attr: {href: 'api/v1.0/download/regulator/' + $parent.selected_assembly() + '/' + id}">Download</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    </div>


{% endblock %}
{% block extra_scripts %}
    <script type="text/javascript">

        $(document).ready(function () {
            var net = new DoRiNANet();
            var viewmodel = new RegulatorViewModel(net);
            ko.applyBindings(viewmodel);
            SetViewModel(viewmodel);
            viewmodel.init();
        });



    </script>
{% endblock %}
