{% extends 'layout.html' %}
{% set active_page = 'regulators' -%}
{% block body %}
    <div class="jumbotron">
        <h4 class="typography-display-1">Available regulators
            for {{ assembly | safe }}
        </h4>
        <div class="mt-2">&nbsp;
            <!-- ko if: regulators().length == 0-->
            <div class="row justify-content-center">
                <div class="progress-circular">
                    <div class="progress-circular-wrapper">
                        <div class="progress-circular-inner">
                            <div class="progress-circular-left">
                                <div class="progress-circular-spinner"></div>
                            </div>
                            <div class="progress-circular-gap"></div>
                            <div class="progress-circular-right">
                                <div class="progress-circular-spinner"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /ko -->​
        </div>
        <div class="regulator-group"
             data-bind="foreach: regulators">
            <div class="jumbotron">
                <div class="regulator-entry">
                    <span data-bind="text: summary"></span>
                    <ul>
                        <li data-bind="text: description"></li>
                        <li>
                            <a class="text-info"
                               data-bind="attr: {href: '/api/v1.0/download/regulator/' +  '{{ assembly }}' + '/' + id}">
                                Download <span class="material-icons">file_download</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>



{% endblock %}
{% block extra_scripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            const net = new DoRiNANet();
            const viewmodel = new RegulatorViewModel(net, '{{ assembly }}');

            ko.applyBindings(viewmodel);
            SetViewModel(viewmodel);
            viewmodel.init();
        });
    </script>
{% endblock %}

