          <h2>REST API</h2>

          <table class="table table-striped">
            <thead>
              <tr>
                <th><h3>List available datasets</h3></th>
                <th></th>
              </tr>
              <tr>
                <th>Resource</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><a href="{{ url_for('docs_api', page='genomes_get') }}">GET api/v1.0/genomes</a></td>
                <td>List available genomes</td>
              </tr>
              <tr>
                <td><a href="{{ url_for('docs_api', page='assemblies_genome_get') }}">GET api/v1.0/assemblies/:genome</a></td>
                <td>List available assemblies for a genome</td>
              </tr>
              <tr>
                <td><a href="{{ url_for('docs_api', page='regulators_assembly_get') }}">GET api/v1.0/regulators/:assembly</a></td>
                <td>List available regulators for an assembly</td>
              </tr>
            </tbody>

            <thead>
              <tr>
                <th><h3>Run search</h3></th>
                <th></th>
              </tr>
              <tr>
                <th>Resource</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><a href="{{ url_for('docs_api', page='search_post') }}">POST api/v1.0/search</a></td>
                <td>Run a doRiNA search</td>
              </tr>
            </tbody>

            <thead>
              <tr>
                <th><h3>Query job information</h3></th>
                <th></th>
              </tr>
              <tr>
                <th>Resource</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><a href="{{ url_for('docs_api', page='status_uuid_get') }}">GET api/v1.0/status/:uuid</a></td>
                <td>Get the status for job :uuid</td>
              </tr>
              <tr>
                <td><a href="{{ url_for('docs_api', page='result_uuid_get') }}">GET api/v1.0/result/:uuid</a></td>
                <td>Get the result for job :uuid</td>
              </tr>
            </tbody>

            <thead>
              <tr>
                <th><h3>Download data</h3></th>
                <th></th>
              </tr>
              <tr>
                <th>Resource</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><a href="{{ url_for('docs_api', page='download_results_uuid_get') }}">GET api/v1.0/download/results/:uuid</a></td>
                <td>Download all results for job :uuid</td>
              </tr>
              <tr>
                <td><a href="{{ url_for('docs_api', page='download_regulator_assembly_name_get') }}">GET api/v1.0/download/regulator/:assembly/:name</a></td>
                <td>Download the regulator :name for :assembly</td>
              </tr>
            </tbody>
          </table>


