#table-wrapper {
    overflow: auto;
}


.optgroup-header {
    font-weight: bold;
}

.scientific {
    font-weight: normal;
    font-style: italic;
}

.description {
    font-size: 80%;
    color: #aaa;
}

.spacer-3 {
    margin-bottom: 3em;
}

.regulator-group ul {
    list-style-type: none;
}

.regulator-group div::nth-of-type(2n) {
    background-color: #ddd;
}

.news-header {
    font-weight: bold;
}

.news-list dd {
    margin-bottom: 1em;
}

.flashes {
    padding-left: 0; }
    .flashes .error {
        border-radius: 4px;
        background-color: #faa;
        padding: 1em;
        list-style: none; }
