#table-wrapper {
    overflow: auto;
}


.optgroup-header {
    font-weight: bold;
}

.scientific {
    font-weight: normal;
    font-style: italic;
}

.description {
    font-size: 80%;
    color: #aaa;
}
