{% extends 'layout.html' %}
{% block body %}

  <h1>POST api/v1.0/search</h1>
  <p class="lead">Run a doRiNA search</p>
  <h2>Parameters</h2>
  <h3>Required</h3>
  <p>No required parameters</p>
  <h2>Message</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Description</th>
        <th>Default</th>
        <th>Example Values</th>
        <th>Required</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>uuid</td>
        <td>string</td>
        <td>UUID assigned to session when starting the search</td>
        <td>-</td>
        <td>f2b4e02-1c94-443b-9326-901dc8ebd351</td>
        <td>yes</td>
      </tr>
      <tr>
        <td>assembly</td>
        <td>string</td>
        <td>name of an assembly</td>
        <td>-</td>
        <td>hg19</td>
        <td>yes</td>
      </tr>
      <tr>
        <td>set_a</td>
        <td>array of strings</td>
        <td>ids of regulators to use for set A</td>
        <td>-</td>
        <td>["PARCLIP_PUM2_hg19", "hsa-miR-221-3p"]</td>
        <td>yes</td>
      </tr>
      <tr>
        <td>match_a</td>
        <td>string</td>
        <td>any or all regulators of set A should match</td>
        <td>any</td>
        <td>all</td>
        <td>no</td>
      </tr>
      <tr>
        <td>region_a</td>
        <td>string</td>
        <td>choice of (any/CDS/5prime/3prime/intron/intergenic)</td>
        <td>any</td>
        <td>CDS</td>
        <td>no</td>
      </tr>
      <tr>
        <td>window_a</td>
        <td>integer</td>
        <td>regulators of set A must match within a window of x bp</td>
        <td>-1 (disabled)</td>
        <td>100</td>
        <td>no</td>
      </tr>
      <tr>
        <td>set_b</td>
        <td>array of strings</td>
        <td>ids of regulators to use for set b</td>
        <td>[]</td>
        <td>["PARCLIP_PUM2_hg19", "hsa-miR-221-3p"]</td>
        <td>no</td>
      </tr>
      <tr>
        <td>match_b</td>
        <td>string</td>
        <td>any or all regulators of set B should match</td>
        <td>any</td>
        <td>all</td>
        <td>no</td>
      </tr>
      <tr>
        <td>region_b</td>
        <td>string</td>
        <td>choice of (any/CDS/5prime/3prime/intron/intergenic)</td>
        <td>any</td>
        <td>CDS</td>
        <td>no</td>
      </tr>
      <tr>
        <td>window_b</td>
        <td>integer</td>
        <td>regulators of set B must match within a window of x bp</td>
        <td>-1 (disabled)</td>
        <td>100</td>
        <td>no</td>
      </tr>
      <tr>
        <td>genes</td>
        <td>array of strings</td>
        <td>RefSeq IDs of genes to limit search to</td>
        <td>["all"]</td>
        <td>["NM_000023", "NM_004711"]</td>
        <td>no</td>
    </tbody>
  </table>

  <h3>Examle Request</h3>
  <code class="language-bash">curl -d set_a[]=PARCLIP_PUM2_hg19 -d set_a[]=hsa-miR-221-3p -d assembly=hg19 -d match_a=all -d uuid=custom-uuid -X POST http://dorina.mdc-berlin.de/api/v1.0/search</code>
  <pre><code class="language-javascript">{
  "state": "pending",
  "uuid": "custom-uuid"
}</code></pre>
{% endblock %}
