{% extends 'layout.html' %}
{% block body %}

  <h1>GET api/v1.0/genomes</h1>
  <p class="lead">List available genomes</p>
  <h2>Parameters</h2>
  <h3>Required</h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Description</th>
        <th>Default</th>
        <th>Example Values</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
      </tr>
    </tbody>
  </table>

  <h3>Examle Request</h3>
  <code class="language-bash">curl http://dorina.mdc-berlin.de/api/v1.0/genomes</code>
  <pre><code class="language-javascript">{
  "genomes": [
    {
      "id": "h_sapiens",
      "label": "Human",
      "scientific": "Homo sapiens",
      "weight": 10
    },
    /* ... */
    {
      "id": "c_elegans",
      "label": "Roundworm",
      "scientific": "Caenorhabditis elegans",
      "weight": 2
    }
  ]
}</code></pre>
{% endblock %}
