<!doctype html>
<html>
<head>
  <title>doRiNA</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-theme.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/selectize.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/selectize.bootstrap3.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body role="document">
  <div class="container" role="main">
    <h1 data-bind="click: new_search">doRiNA <small>a database of RNA interactions in post-transcriptional regulation</small></h1>

    <div class="panel-group" id="accordion">

      {% include "choose_db.html" %}

      {% include "search.html" %}

      {% include "results.html" %}

    </div>

  </div>
  <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
  <script src="{{ url_for('static', filename='js/knockout.js') }}"></script>
  <script src="{{ url_for('static', filename='js/knockstrap.js') }}"></script>
  <script src="{{ url_for('static', filename='js/selectize.js') }}"></script>
  <script src="{{ url_for('static', filename='js/dorina.js') }}"></script>
  <script src="{{ url_for('static', filename='js/dorina.net.js') }}"></script>
  <script type="text/javascript">

    $(document).ready(function() {
        var net = new DoRiNANet();
        var viewmodel = new DoRiNAViewModel(net);
        ko.applyBindings(viewmodel);
        SetViewModel(viewmodel);
        $("[data-toggle='tooltip']").tooltip();
        $('#assembly').selectize({
            valueField: 'id',
            labelField: 'id',
            searchField: 'id',
            options: {{ assemblies|safe }},
            sortField: [{ field: 'weight', direction: 'desc'}],
            optgroupField: 'genome',
            optgroupValueField: 'id',
            optgroups: {{ genomes|safe }},
            plugins: ['optgroup_columns'],
            render: {
                optgroup_header: function(data, escape) {
                    return '<div class="optgroup-header">' + escape(data.label) +
                           ' (<span class="scientific">' + escape(data.scientific) +
                           '</span>)</div>';
                 }
            }
        });

        $('#genes').on('show.bs.collapse', function() {
            $('#genes-icon').removeClass('glyphicon-plus')
              .addClass('glyphicon-minus');
        }).on('hide.bs.collapse', function() {
            $('#genes-icon').removeClass('glyphicon-minus')
              .addClass('glyphicon-plus');
        });
    });

  </script>
</body>
