<!doctype html>
<html>
<head>
  <title>doRiNA</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-theme.css') }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body role="document">
  <div class="container" role="main">
    <h1 data-bind="click: new_search">doRiNA <small>a database of RNA interactions in post-transcriptional regulation</small></h1>

    <div class="panel-group" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#chooseDatabase">Choose a doRiNA database</a>
          </h4>
        </div>
        <div id="chooseDatabase" class="panel-collapse collapse in">
          <div class="panel-body">
            <form class="form-inline" role="form" data-bind="submit: show_simple_search">
              <div class="form-group">
                <label for="clade">clade</label>
                <select class="form-control" id="clade" data-bind="options: clades, value: chosenClade">
                </select>
              </div>
              <div class="form-group">
                <label for="genome">genome</label>
                <select class="form-control" id="genome" data-bind="options: genomes, value: chosenGenome">
                </select>
              </div>
              <div class="form-group">
                <label for="assembly">assembly</label>
                <select class="form-control" id="assembly" data-bind="options: assemblies, value: chosenAssembly">
                </select>
              </div>
              <button type="submit" class="btn btn-primary" data-bind="enable: chosenAssembly">
                <span class="glyphicon glyphicon-hdd"></span> Search Database</button>
            </form>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#search">Search</a>
          </h4>
        </div>
        <div id="search" class="panel-collapse collapse">
          <div class="panel-body">
            <form class="form-horizontal" role="form" data-bind="submit: run_simple_search">
              <div class="form-group">
                  <label for="genes">Limit to a set of candidate genes</label>
                  <textarea class="form-control" id="genes" data-bind="value: genes"></textarea>
              </div>

              <div class="form-group">
                <label for="region_a">Look for binding sites in region:</label>
                <select class="form-control" id="region_a" data-bind="value: region_a">
                  <option value="any">any</option>
                  <option value="CDS">CDS</option>
                  <option value="5prime">5' UTR</option>
                  <option value="3prime">3' UTR</option>
                  <option value="intron">intron</option>
                  <option value="intergenic">intergenic</option>
                </select>
              </div>

              <div class="form-group">
                <label for="rbps">RNA binding proteins</label>
                <select class="form-control" id="rbps"
                 data-bind="options: rbps, selectedOptions: selected_rbps, optionsText: 'summary'"
                 size="5" multiple="true">
                </select>
              </div>

              <div class="form-group">
                <label for="mirnas">miRNAs</label>
                <select class="form-control" id="mirnas"
                 data-bind="options: mirnas, selectedOptions: selected_mirnas, optionsText: 'summary'"
                 size="5" multiple="true">
                </select>
              </div>

              <div class="form-group" data-bind="visible: selected_mirnas().length + selected_rbps().length > 1">
                <label for="match_a">Regulators that must match:</label>
                <select class="form-control" id="match_a" data-bind="value: match_a">
                  <option>any</option>
                  <option>all</option>
                </select>
              </div>

              <button type="submit" class="btn btn-primary btn-lg btn-block"
                data-bind="enable: selected_mirnas().length + selected_rbps().length > 0">
                <span class="glyphicon glyphicon-search"></span> Search doRiNA</button>
            </form>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#results">Results</a>
          </h4>
        </div>
        <div id="results" class="panel-collapse collapse">
          <div class="panel-body">
            <div class="row">
              <div class="col-md-3 col-md-offset-9 text-right">
                <button type="button" class="btn btn-sm" data-bind="click: new_search">
                  <span class="glyphicon glyphicon-repeat"></span> New search</button>
              </div>
            </div>

            <table class="table table-striped" id="result_table">
              <thead>
                <tr>
                  <th>track name</th>
                  <th>gene symbol</th>
                  <th>data source</th>
                  <th>score</th>
                  <th>target site in browser</th>
                  <th>target site location</th>
                  <th>genomic strand</th>
                </tr>
              </thead>
              <tbody data-bind="foreach: results">
                <tr>
                  <td data-bind="text: track"></td>
                  <td data-bind="text: gene"></td>
                  <td data-bind="text: data_source"></td>
                  <td data-bind="text: score"></td>
                  <td data-bind="text: site"></td>
                  <td data-bind="text: location"></td>
                  <td data-bind="text: strand"></td>
                </tr>
              </tbody>
            </table>
            <div class="row" data-bind="visible: pending">
              <div class="col-md-3 col-md-offset-3">
                <img src="{{url_for('static', filename='loading.gif')}}" alt="loading..." />
              </div>
              <div class="col-md-6">
                Loading
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <button type="button" class="btn btn-sm" data-bind="visible: more_results, click: load_more_results">
                  Load more results
                  <span class="glyphicon glyphicon-chevron-down"></span>
                </button>
              </div>

              <div class="col-md-3 col-md-offset-3 text-right">
                <button type="button" class="btn btn-sm" data-bind="click: new_search">
                  <span class="glyphicon glyphicon-repeat"></span> New search</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
  <script src="{{ url_for('static', filename='js/knockout.js') }}"></script>
  <script src="{{ url_for('static', filename='js/dorina.js') }}"></script>
  <script src="{{ url_for('static', filename='js/dorina.net.js') }}"></script>
  <script type="text/javascript">

    function cladeChanged() {
        var viewmodel = GetViewModel();

        viewmodel.get_genomes(viewmodel.chosenClade());
    }

    function genomeChanged() {
        var viewmodel = GetViewModel();

        viewmodel.get_assemblies(viewmodel.chosenClade(),
                                 viewmodel.chosenGenome());
    }

    $(document).ready(function() {
        var net = new DoRiNANet();
        var viewmodel = new DoRiNAViewModel(net);
        ko.applyBindings(viewmodel);
        SetViewModel(viewmodel);
        $('#clade').change(cladeChanged);
        $('#genome').change(genomeChanged);
        viewmodel.get_clades();
    });

  </script>
</body>
