{% extends 'layout.html' %}
{% block body %}
    <div class="panel-group">
      <h2>What's new</h2>
      <dl class="dl-horizontal news-list">
        <dt>2014-10-22</dt>
        <dd><div class="news-header">Documentation updated.</div>
          Check out the "Documentation" tab for tutorials on regulator-centric
          and target-centric searches using the web interface.
        </dd>

        <dt>2014-10-20</dt>
        <dd><div class="news-header">Public release of the updated doRiNA
          database.</div>
          Feel free to test the updated version, or access
        <a href="//dorina1.mdc-berlin.de/">the old vesion</a>.
        </dd>
      </dl>
    </div>
{% endblock %}
