      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#search">Search</a>
          </h4>
        </div>
        <div id="search" class="panel-collapse collapse">
          <div class="panel-body">
            <form class="form-horizontal" role="form" data-bind="submit: run_simple_search">
              <div class="form-group" data-toggle="collapse" data-target="#genes">
                  <label for="genes">
                    <span class="glyphicon glyphicon-plus" id="genes-icon"></span>
                    Limit to a set of candidate genes
                    <a href="#" data-toggle="tooltip" data-placement="right" title="click to expand">
                      <span class="glyphicon glyphicon-question-sign"></span>
                    </a>
                  </label>
                  <textarea class="form-control collapse" id="genes" data-bind="value: genes"></textarea>
              </div>

              <div class="row form-group">
                <div class="col-md-5">
                  <label>Look for binding sites in region:</label>
                  <div class="btn-group" data-toggle="buttons" data-bind="radio: region_a">
                    <label class="btn btn-default">
                      <input type="radio" name="region_a_group" value="any"> any
                    </label>
                    <label class="btn btn-default">
                      <input type="radio" name="region_a_group" value="CDS"> CDS
                    </label>
                    <label class="btn btn-default">
                      <input type="radio" name="region_a_group" value="5prime"> 5' UTR
                    </label>
                    <label class="btn btn-default">
                      <input type="radio" name="region_a_group" value="3prime"> 3' UTR
                    </label>
                    <label class="btn btn-default">
                      <input type="radio" name="region_a_group" value="intron"> intron
                    </label>
                    <label class="btn btn-default">
                      <input type="radio" name="region_a_group" value="intergenic"> intergenic
                    </label>
                  </div>
                </div>
                <div class="col-md-3 col-md-offset-1" data-bind="visible: selected_mirnas().length + selected_rbps().length > 1">
                  <label>Regulators that must match:</label>
                  <div class="btn-group" id="match_a" data-toggle="buttons" data-bind="radio: match_a">
                    <label class="btn btn-default">
                      <input type="radio" name="match_a" value="any"> any
                    </label>
                    <label class="btn btn-default">
                      <input type="radio" name="match_a" value="all"> all
                    </label>
                  </div>
                </div>
              </div>

              <div class="row form-group">
                <div class="col-xs-6">
                  <label for="rbps">RNA binding proteins</label>
                  <select class="form-control" id="rbps"
                   data-bind="options: rbps, selectedOptions: selected_rbps, optionsText: 'summary'"
                   size="5" multiple="true">
                   </select>
                </div>
                <div class="col-xs-6">
                  <label for="mirnas">miRNAs</label>
                  <select class="form-control" id="mirnas"
                   data-bind="options: mirnas, selectedOptions: selected_mirnas, optionsText: 'summary'"
                   size="5" multiple="true">
                  </select>
                </div>
              </div>


              <div class="row form-group" data-toggle="collapse" data-target=".combinatorial">
                <label>
                  <span class="glyphicon glyphicon-plus" id="combinatorial control"></span> Combinatorial search
                  <a href="#" data-toggle="tooltip" data-placement="right" title="click to expand">
                    <span class="glyphicon glyphicon-question-sign"></span>
                  </a>
                </label>
              </div>

              <div class="row form-group combinatorial collapse">
                <div class="col-xs-6">
                  <label for="rbps">RNA binding proteins</label>
                  <select class="form-control" id="rbps_setb"
                   data-bind="options: rbps, selectedOptions: selected_rbps_setb, optionsText: 'summary'"
                   size="5" multiple="true">
                   </select>
                </div>
                <div class="col-xs-6">
                  <label for="mirnas">miRNAs</label>
                  <select class="form-control" id="mirnas_setb"
                   data-bind="options: mirnas, selectedOptions: selected_mirnas_setb, optionsText: 'summary'"
                   size="5" multiple="true">
                  </select>
                </div>
              </div>

              <div class="row">
                <div class="col-xs-4 col-xs-offset-1">
                  <button type="submit" class="btn btn-primary btn-lg btn-block"
                    data-bind="enable: selected_mirnas().length + selected_rbps().length > 0">
                    <span class="glyphicon glyphicon-search"></span> Search doRiNA</button>
                </div>
                <div class="col-xs-4 col-xs-offset-2">
                  <button type="button" class="btn btn-lg btn-block"
                    data-bind="click: clear_selections">
                    <span class="glyphicon glyphicon-remove"></span> Clear selections</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>


