{% extends 'layout.html' %}
{% block body %}
    <div class="jumbotron">
      <h2 style="margin-bottom: 2em">doRiNA <small>a database of RNA interactions in post-transcriptional regulation</small></h2>
      <form action="{{ url_for('index') }}" method="POST" enctype="multipart/form-data">
      <div class="row">
        <div class="col-md-5">
          <a class="btn btn-primary btn-lg" id="no-upload-go" href="{{ url_for('index') }}">Search</a>
        </div>
        <div class="col-md-6 col-md-offset-1">
            <input type="file" class="btn-lg" title="upload" id="bedfile" name="bedfile">
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          using the curated regulator database
        </div>
        <div class="col-md-6 col-md-offset-1">
          <span id="upload-desc">your own BED file containing regulator positions to search along with the curated database entries.</span>
          <input class="btn btn-primary btn-lg btn-block" id="upload-go" type="submit" value="Go">
        </div>
      </div>
      </form>
    </div>
    <div>
      <p>Access the <a href="http://dorina1.mdc-berlin.de">old version of doRiNA</a>.</p>
    </div>
{% endblock %}

{% block extra_scripts %}
  <script src="{{ url_for('static', filename='js/bootstrap.file-input.js') }}"></script>
  <script type="text/javascript">
    function file_uploaded() {
        $('#upload-go').show();
        $('#upload-desc').hide();
        $('#no-upload-go').removeClass('btn-primary').addClass('btn-default');
    }
    $(document).ready(function() {
        $('#bedfile').on('change', file_uploaded).bootstrapFileInput();
        $('#upload-go').hide();
    });
  </script>
{% endblock %}
