{% extends 'layout.html' %}
{% block body %}
    <div class="jumbotron">
      <h2 style="margin-bottom: 2em">doRiNA <small>a database of RNA interactions in post-transcriptional regulation</small></h2>
      <form action="{{ url_for('index') }}" method="POST" enctype="multipart/form-data">
      <div class="row">
        <div class="col-md-5">
          <a class="btn btn-primary btn-lg" id="no-upload-go" href="{{ url_for('index') }}">Search</a>
        </div>
        <div class="col-md-6 col-md-offset-1">
            <input type="file" class="btn-lg" title="upload" id="bedfile" name="bedfile">
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          using the curated regulator database
        </div>
        <div class="col-md-6 col-md-offset-1">
          <span id="upload-desc">your own BED file containing regulator positions to search along with the curated database entries.</span>
          <input class="btn btn-primary btn-lg btn-block" id="upload-go" type="submit" value="Go">
        </div>
      </div>
      </form>
    </div>
    <div>
      <p>Directly access the track hubs on the UCSC browser for
        <a href="http://genome.ucsc.edu/cgi-bin/hgTracks?db=hg19&hubUrl=http://dorina.mdc-berlin.de/dorinaHub/hub.txt">hg19</a>,
        <a href="http://genome.ucsc.edu/cgi-bin/hgTracks?db=mm9&hubUrl=http://dorina.mdc-berlin.de/dorinaHub/hub.txt">mm9</a>,
        <a href="http://genome.ucsc.edu/cgi-bin/hgTracks?db=ce6&hubUrl=http://dorina.mdc-berlin.de/dorinaHub/hub.txt">ce6</a>, or
        <a href="http://genome.ucsc.edu/cgi-bin/hgTracks?db=dm3&hubUrl=http://dorina.mdc-berlin.de/dorinaHub/hub.txt">dm3</a>.
      </p>
    </div>
    <div>
      <p>
        If you are using doRiNA please consider citing:
      </p>

      <p class="citation">
        Blin, K., Dieterich, C., Wurmus, R., Rajewsky, N., Landthaler, M., &amp; Akalin, A. (2014).<br/>
        <a href="http://www.ncbi.nlm.nih.gov/pubmed/25416797">DoRiNA 2.0&mdash;upgrading the doRiNA database of RNA interactions in post-transcriptional regulation.</a>
        <span class="journal">Nucleic Acids Research</span>.
      </p>
    </div>
{% endblock %}

{% block extra_scripts %}
  <script src="{{ url_for('static', filename='js/bootstrap.file-input.js') }}"></script>
  <script type="text/javascript">
    function file_uploaded() {
        $('#upload-go').show();
        $('#upload-desc').hide();
        $('#no-upload-go').removeClass('btn-primary').addClass('btn-default');
    }
    $(document).ready(function() {
        $('#bedfile').on('change', file_uploaded).bootstrapFileInput();
        $('#upload-go').hide();
    });
  </script>
{% endblock %}
